@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-50 overflow-hidden;
    font-family: 'Rubik', sans-serif;
  }
}

/* Custom scrollbar hide */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}